%div.header Api or something lolz
%div.users
  %ul
    - @users.each do |user|
      %li= user.nickname

%div.messages
  - @messages.each do |message|
    %div
      = message.text
      = "By #{message.user.nickname}"
